@import '../../../config-scss/rem-calc.scss';

:host{
  .listagem{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2rem;

    .pokemon{
      background-color: var(--white);
      position: relative;
      display: flex;
      gap: 1rem;
      box-sizing: border-box;
      width: 31.4%;
      height: rem-calc(160);
      /* height: 10rem */
      border-radius: rem-calc(10);
      padding: rem-calc(20);
      text-decoration: none;
      color: var(--primary-color);
      border: 4px solid var(--white);

      &:hover {
        border: 4px solid var(--secondary-color-hover);
      }

      &__status {
        h2 {
          font-size: rem-calc(28);
          font-style: italic;
          font-weight: 900;
          margin-bottom: rem-calc(10);
          text-transform: capitalize;
          letter-spacing: 1px;
        }

        ul {
          display: flex;
          flex-direction: column;

          li {
            background-color: var(--gray);
            font-size: rem-calc(16);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: rem-calc(50);
            width: rem-calc(80);
            height: rem-calc(28);
            margin-bottom: rem-calc(5);
          }
        }
      }

      &__image {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: rem-calc(20);
        right: rem-calc(20);
        background-image: url('../../../assets/bolinhas.svg');
        background-repeat: no-repeat;
        height: rem-calc(90);
        width: rem-calc(110);

        img {
          width: 6rem;
          aspect-ratio: 1/1;
          object-fit: contain;
        }
      }
    }
  }

  .imgError {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
    object-fit: cover;
  }


}
.margem {
  display: flex;
  justify-content: center;
  width: 100%;
}
