@import '../../../config-scss/rem-calc.scss';

:host{
  .pokemon{
    background-color: var(--white);
    display: flex;
    width: 49%;
    border-radius: rem-calc(10);
    padding: rem-calc(20);

    &__status {
      h2 {
        font-size: rem-calc(22);
        font-style: italic;
        font-weight: 900;
      }
    }
  }
}

