<poke-search (emitSearch)="getSearch($event)"></poke-search>

<section class="listagem">
  <ng-template ngFor let-pokemon [ngForOf]="getAllPokemons | paginate: {itemsPerPage: 9, currentPage : page}">
  <!-- <ng-template *ngFor='let pokemon of getAllPokemons '> -->
    <a
      [routerLink]="['/details', pokemon.status.id]"
      class="pokemon"
      *ngIf="pokemon.status"
    >
      <section class="pokemon__status">
        <h2>{{ pokemon.name }}</h2>

        <ul>
          <li *ngFor="let poke of pokemon.status.types">
            {{ poke.type.name }}
          </li>
        </ul>
      </section>

      <section class="pokemon__image">
        <img
          [src]="pokemon.status.sprites.other.dream_world.front_default"
          [alt]="pokemon.name"
        />
      </section>
    </a>
  </ng-template>
  <div class="margem">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>

  </div>
  <img src="assets/error.png" alt="Deu ruim" width="100%" *ngIf="apiError" />
  <img src="assets/listError.png" alt="Deu ruim" class="imgError" *ngIf="listError" />
</section>
