<a href="" class="pokemon">
  <section class="pokemon__status">
    <h2>Nome</h2>

    <ul>
      <li>tipo 1</li>
      <li>tipo 2</li>
    </ul>
  </section>

  <section class="pokemon__image">
    <img src="assets/poke.png" alt="">
  </section>
</a>



<a href="" class="pokemon">
  <section class="pokemon__status">
    <h2>Nome</h2>

    <ul>
      <li>tipo 1</li>
      <li>tipo 2</li>
    </ul>
  </section>

  <section class="pokemon__image">
    <img src="assets/poke.png" alt="">
  </section>
</a>
<a href="" class="pokemon">
  <section class="pokemon__status">
    <h2>Nome</h2>

    <ul>
      <li>tipo 1</li>
      <li>tipo 2</li>
    </ul>
  </section>

  <section class="pokemon__image">
    <img src="assets/poke.png" alt="">
  </section>
</a>
