/* You can add global styles to this file, and also import other style files */
@import './config-scss/reset.scss';
@import './config-scss/variables.scss';
@import './config-scss/rem-calc.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-color);
}

main {
  max-width: rem-calc(600);
  margin: 0 auto;
  box-sizing: border-box;
}

// 58:46