/* You can add global styles to this file, and also import other style files */
@import './config-scss/reset.scss';
@import './config-scss/variables.scss';
@import './config-scss/rem-calc.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-color);
}

main {
  max-width: rem-calc(1120);
  margin: 0 auto;
  box-sizing: border-box;
}


.ngx-pagination {
  margin-left: 0 !important;
  margin-bottom: 1rem !important;
  line-height: 20px !important;
  padding: 7px 15px 7px !important;
  font-size: 12px !important;
}
/* .ngx-pagination::before,
.ngx-pagination::after {
  content: " lalala" !important;
  display: table !important;
} */

.ngx-pagination::after {
  clear: both !important;
}

.ngx-pagination li {
  -moz-user-select: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  margin-right: 0.2rem !important;
  border-radius: 0 !important;
}

.ngx-pagination li {
  display: inline-block !important;
}

.ngx-pagination a,
.ngx-pagination button {
  color: #0a0a0a !important;
  display: block !important;
  background-color: rgb(248, 248, 248) !important;
  color: black !important;
  border: 2px solid #8b8b8b !important;
  padding: 0.5rem 1rem !important;
  border-radius: 1rem !important;
}

.ngx-pagination a:hover,
.ngx-pagination button:hover {
  background: #788b8d88 !important;
}

.ngx-pagination .current {
  padding: 0.1875rem 0.625rem !important;
  background: #51535D !important;
  color: #fefefe !important;
  cursor: default !important;
  border: 2px solid #8b8b8b !important;
  padding: 0.5rem 1rem !important;
  border-radius: 1rem !important;
}

.ngx-pagination .disabled {
  padding: 0.1875rem 0.625rem !important;
  color: #cacaca00 !important;
  cursor: default !important;
}

.ngx-pagination .disabled:hover {
  background: transparent !important;
}

.ngx-pagination a,
.ngx-pagination button {
  cursor: pointer !important;
}

/* .ngx-pagination .pagination-previous a::before,
.ngx-pagination .pagination-previous.disabled::before {
  font-family: FontAwesome;
  content: "\f053" !important;
  display: inline-block !important;
  margin-right: 0rem !important;
} */

/* .ngx-pagination .pagination-next a::after,
.ngx-pagination .pagination-next.disabled::after {
  font-family: FontAwesome !important;
  content: "\f054" !important;
  display: inline-block !important;
  margin-left: 0rem !important;
} */

.ngx-pagination .show-for-sr {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
}

.ngx-pagination .small-screen {
  display: none !important;
}

@media screen and (max-width: 601px) {
  .ngx-pagination.responsive .small-screen {
    display: inline-block !important;
    color: black !important;
    background-color: rgb(248, 248, 248) !important;
    border: 2px solid #8b8b8b !important;
    padding: 0.5rem 1rem !important;
    border-radius: 1rem !important;
  }
  .ngx-pagination.responsive
    li:not(.small-screen):not(.pagination-previous):not(.pagination-next) {
    display: none !important;
  }
}